---
- include: iocage.yml
  tags: jailed
- include: net.yml
  tags: jailed
- include: repo.yml
  tags: jailed
- include: pf.yml
  tags: jailed
- include: user.yml
  tags: jailed
- include: timezone.yml
  tags: jailed
- include: syslogd-client.yml
  tags: jailed
  when: use_syslogd_server | default(false)
- include: ssmtp.yml
  tags: jailed
  when: use_ssmtp | default(false)
