- name: Unmount devfs
  command: |
    umount {{ jail_home.stdout }}/dev
  args:
    warn: False
  listen: unmount chroot devfs

- name: Restart jail
  shell: |
    /usr/local/bin/iocage stop -i {{ jail_name }}
    /usr/local/bin/iocage start {{ jail_name }}
  listen: Restart jail

- name: Reload jail s syslogd
  command: |
    /usr/local/bin/iocage exec {{ jail_name }} service syslogd reload
  when: not jail_created is changed
